/* Sidebar.css */
.sidebar {
    height: 100%;
    width: 250px; /* Bredden på sidomenyn när den är vecklad ut */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar li a {
    color: #818181;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    color: #f1f1f1;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2; /* Se till att knappen ligger överst */
  }
  
  .open {
    width: 0; /* Bredden på sidomenyn när den är vecklad ihop */
  }
  